body{
	background-color: #cfffd3;
}

h1{
	background-color: lightcyan;
	border: 3px solid green;
	border-radius: 9px;
	margin: 3% 35%;
	padding: 25px 25px;
	font-family: cursive, serif;
	font-size: 35px;
	text-align: center;
	box-shadow: 2px 2px 20px 23px #96fabb;
}

.main{
	display: flex;
	margin: 100px 50px 0px;
	padding: 50px;
	border: 1px solid green;
	background-color: white;
}

img{
	display: block;
	width: 35%;
	height: 100%;
	margin: auto;
}